$blue-100: #d5ecfc !default;
$blue-200: #acd6fa !default;
$blue-300: #80b9f2 !default;
$blue-400: #5e9ce5 !default;
$blue-500: #2e73d5 !default;
$blue-600: #2159b7 !default;
$blue-700: #174299 !default;
$blue-800: #0e2d7b !default;
$blue-900: #081f66 !default;

$blues: () !default;
$blues: map-merge(
  (
    '100': $blue-100,
    '200': $blue-200,
    '300': $blue-300,
    '400': $blue-400,
    '500': $blue-500,
    '600': $blue-600,
    '700': $blue-700,
    '800': $blue-800,
    '900': $blue-900
  ),
  $blues
);

$purple: #8445f7 !default;
$red: #de0008 !default;
$yellow: #fcc717 !default;
$green: #17c671 !default;
$lightblue: #8cbcd8;
$navy: #242e40;
$background: #f9fafc;

$colors: () !default;
$colors: map-merge(
  (
    'purple': $purple,
    'red': $red,
    'yellow': $yellow,
    'green': $green,
    'lightblue': $lightblue,
    'navy': $navy,
    'background': $background
  ),
  $colors
);

$primary: $blue-500 !default;
$secondary: $gray-700 !default;
$success: $green !default;
$info: $lightblue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-200 !default;
$dark: $gray-900 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;
