.welcome {
  align-self: center;
  width: 100%;

  > .inner {
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.4;
    font-family: Proxima Nova, 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  }
  

  h1 {
    font-size: 32px;
    color: #4a4a4a;
    font-weight: 400;
    letter-spacing: -.5px;
  }

  a {
    color: #62bad9;
    text-decoration: none;
    border-bottom: 1px solid #62bad9;
    padding-bottom: 2px;
  }

  p {
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 12px;
    color: rgba(74,74,74,.75);
  }
}