@import 'themeVariables.scss';

// Radio Buttons
.radio-field {
    @include radio-field;
    margin: 0 10px 5px 0;
  
    input {
        appearance: none;
        margin: 0 12px 0 0;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: transparent;
        box-shadow: 0 0 0 1px $light-gray;

        &:focus {
            outline: none !important;
            box-shadow: 0 0 0 1px $primary-color;
        }
    }
  
    &.selected input, input:checked {
      background: $primary-color;
      border: 6px solid $white;
    }
}

.radioGroup-container {
    .field-container {
        @include radioGroup-field-container;
    }
}

.readonly {
    @include readonly-radiogroup;
}

.disabled {
    @include disabled-field;

    input {
        background-color: #f9f9f9;
        color: lighten(#333333, 30);
        border-color: lighten($light-gray, 10);
    }
}

.field-container {
    margin-top: 10px;
}