@import 'themeVariables.scss';

.field-label {
    @include field-label;
    transition: all 200ms linear;
}

@mixin themed-input-field {
    @include input-field;
    appearance: none;
    font-family: $primary-font;
    border: 1px solid $light-gray;
    border-radius: 3px;
    height: 45px;
    font-size: 16px;
    padding: 0 15px;
    transition: all 200ms linear;
    color: #333;
    background: $white;

    &:focus {
        border-color: $primary-color;
    }

    &:disabled:not(select) {
        background-color: #f9f9f9;
        color: lighten(#333333, 30);
        border-color: lighten($light-gray, 10);
    }
}

.field-hint {
    @include field-hint;
    color: $light-gray;
}

.disabled {
    @include disabled-field;
}

.text-field {
    @include themed-input-field;
}

.textarea-field {
    @include themed-input-field;
    width: 100%;
    min-height: 70px;
    padding: 10px;
    outline: none;
    resize: none;
}
